*
!.gitignore
!.zshrc
!.zprofile
!.zshenv
!.xinitrc
!.config
!.images
!README.md
!install.sh
# i3-status-rust
!.config/i3status-rust
!.config/i3status-rust/config.toml

# gtk
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini

# picom
!.config/picom/
!.config/picom/picom.conf

# i3
!.config/i3/
!.config/i3/config

# i3
!.config/rofi/
!.config/rofi/config.rasi

# i3lock
!.config/i3lock/
!.config/i3lock/lock.sh


# wallpaper
!.images/wallpapers
!.images/wallpapers/*
*storybook.log

# neofetch
!.config/neofetch/
!.config/neofetch/ascii

# dunst
!.config/dunst/
!.config/dunst/dunstrc

# nvim/lazyVim
!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua/config/
!.config/nvim/lua/plugins/
!.config/nvim/init.lua
!.config/nvim/lua/config/lazy.lua
!.config/nvim/lua/plugins/lsp.lua
!.config/nvim/lua/plugins/tokyoNight.lua
!.config/nvim/lua/plugins/fzf.lua

# guake 
!.config/guake/
!.config/guake/guake_prefs.cfg

# batteryWatcher service
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/batteryWatcher.service

# scripts
!.config/scripts/
!.config/scripts/batteryWatcher.sh